.site-header {
    padding: 20px 0;
    background-color: #0000004D;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(50px);
    z-index: 50;
}
.header {
display: flex;
align-items: center;
justify-content: space-between;
}
.header__wrapper-link{
    @include display( $item:center, $space:space-between, $gap:50px,); 
}
.header__list {
    @include display( $item:center, $space:none, $gap:25,); 
}
.navbar__link {
    @include textStyle( $MB: 0, $FS: 16px, $FW: 500, $LH: 19.36, $CLR: $color-white, $TT: uppercase);
    transition: all 0.3s linear;  
    &:hover{
        color: $orange-color;
    }
    &:active{
        color: blue;
    }  
}
.header__phone-link {
    @include display( $item:center, $space:none, $gap:10px,); 
}
.header__phone {
    @include textStyle( $MB: 0, $FS: 16px, $FW: 500, $LH: 19.36, $CLR: $color-white, $TT: uppercase);
    transition: all 0.3s linear;
    
    &:hover{
        color: $orange-color;
    }
    &:active{
        color: blue;
    }
}