.service-section {
    padding: 118px 0 173px;
}
.service__content {
    text-align: center;
    margin-bottom: 100px;
}
.service__title {
    @include textStyle( $MB: 8px, $FS: 38px, $FW: 700, $LH: 45.99px, $CLR: $color-white, $TT:capitalize);
}
.service__tex {
    @include textStyle( $MB: 0px, $FS: 16px, $FW: 400, $LH: 24px, $CLR: #000000AD, $TT:capitalize);
}
.service__list{
    @include display( $item:none, $space:space-between, $gap:29px,);  
    flex-wrap: wrap;
}
.service__item {
    position: relative;
    width: 354px;
    height: 458px;
    overflow: hidden;
    cursor: pointer;
    
    
    &:hover > .service__img{
        height: 50%;
    }
    &:hover > .service__hide-content{
        bottom: 0;
    }
    &:hover > .service__view-content{
        bottom: 100%;
    }
}
.service__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 4;
    transition: all 0.3s ease-out;
}
.service__view-content {
    padding: 24px 20px 20px;
    position: absolute;
    z-index: 5;
    bottom: 0;
}
.service__subtitle {
    @include textStyle( $MB: 15px, $FS: 24px, $FW: 700, $LH: 29.05px, $CLR: white, $TT:capitalize);
}
.service__link {
    @include textStyle( $MB: 15px, $FS: 15px, $FW: 500, $LH: 18.15px, $CLR: white, $TT:capitalize);
    gap: 6.5px;
    
}
.service__hide-content {
    position: absolute;
    transition: all 0.3s ease-out;
    bottom: -100%;
    height: 50%;
    padding: 20px;
    background-color: white;
    z-index: 5;
    
}
.service__hide-content > h3{
    @include textStyle( $MB: 10px, $FS: 24px, $FW: 700, $LH: 29.05px, $CLR: black, $TT:capitalize);
}
.service__hide-content > p{
    @include textStyle( $MB: 15px, $FS: 14px, $FW: 400, $LH: 20px, $CLR: black, $TT:capitalize);
}
.service__hide-link {
    color: orange;
}